	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	<title>INEXT - Editar objeto</title>
	<div>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">INEXT</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/">Home</a></li>
		      <li><a href="cadastra">Cadastrar Objeto Manual</a></li>
		      	<li><a href="admin">Quem Notificar</a></li>
		      	<li><a href="inventario">Inventário</a></li>
		      	<li><a href="sala">Ger. de Salas</a></li>
		    </ul>	
		  </div>
		</nav>
	</div>
		<div class="container">
			
			<h3>Editar objeto</h3>
			<form class="form" action="/editar/<%=objeto._id %>" method="POST">	
				<div class="form-group">
					<label>Nome: </label>
					<input class="" name="nome" type="text" value="<%= objeto.nome %>">
				</div>	
				<div class="form-group">
					<label>TagRFID: </label>
					<input class="" name="tagRFID" type="text" value="<%= objeto.tagRFID%>" >
				</div>
				<div class="form-group">
					<label>Tombo: </label>
					<input class="" name="tombo" type="number" value="<%= objeto.tombo%>">
				</div>
				<div class="form-group">
					<label>Descrição</label>
					<input class="" name="descricao" type="text" value="<%= objeto.descricao %>">
				</div>	
				<div class="form-group">
					<label>Sala: </label>
					<input class="" name="sala" type="text" value="<%= objeto.sala %>">
				</div>
				<div class="form-group">
					<label>Restrição: </label>
					<input class="" name="restrincao" type="text" value="<%= objeto.restrincao %>">
				</div>
				<div class="form-group" id="inv">
					<label>Restrição: </label>
					<input type="number" name="alerta" min="0" max="1" value="<%= objeto.alerta %>" />
		
				</div>		
				<div class="form-group">
					<input class="btn btn-success" type="submit" value="Salvar">
					<button class="btn btn-warning" href="/">Cancelar</button>
				</div>
			</form>
		</div>