<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	
	<title>INEXT - Inventário</title>
	<div>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">INEXT</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/">Home</a></li>
		      <li><a href="cadastra">Cadastrar Objeto Manual</a></li>
		      <li><a href="admin">Quem Notificar</a></li>
		      <li><a href="inventario"><b>Inventário</b></a></li>
		      <li><a href="sala">Ger. de Salas</a></li>
		    </ul>	
		  </div>
		</nav>
		<div class="container">
					<% for (var i = 0; i < sala.length; i++){ %>
						<h3>Objetos na sala: <%= sala[i].nome %></h3>
						<table>
							<tbory>
								<tr>
									<td> Nome</td>
									<td> TagRFID</td>
									<td> Descrição </td>
									<td> Tombo</td>
									<td> Restrição</td>
								</tr>	
							</tbory>
							<% for(var j = 0; j <  objeto.length; j++){
								if( objeto[j].sala == sala[i].nome){ %>
									<tr>
										<td><%= objeto[j].nome %></td>
										<td><%= objeto[j].tagRFID %></td>
										<td><%= objeto[j].descricao %></td>
										<td><%= objeto[j].tombo %></td>
										<td><%= objeto[j].restrincao %></td>
									</tr>
						
						
						<% 	}%>
						<% } %>
						</table>
				<%	} %>
	</div>	